.previsualize-colors {
  color: #660BE1; color: rgba(102, 11, 225);
  color: #7613FD; color: rgba(118, 19, 253);
  color: #866EFB; color: rgba(134, 110, 251);
  color: #FAF0F3;
  color: #D12953;
  color: #DC4067;
  color: #D4FFEA;
  color: #179E5B;
  color: #FAEA8E;
  color: #b3a449;
  color: #3E435D; color: rgba(62, 67, 93);
  color: #ADA7A7; color: rgba(173, 167, 167);
  color: #E6E6E6;
  color: #D9D9D9; color: rgba(217, 217, 217);
  color: #FFFFFF; color: rgba(255, 255, 255);
  color: #D9D9D9;
  color: #EBF0FA;
  color: #F0F1FA;
  color: #4F5AED;
  color: #3E3C61;
  color: #2F2D52;
}